<?xml version="1.0"?>
<launch>
	<arg name="off_map_tf" default="false" />
	<arg name="off_odom_tf" default="false" />
    <arg name="use_joint_states_publisher" default="true"/>
	<arg name="model" default = "$(find mrvk_description)/urdf/robot.urdf.xacro"/>

    <!--load urdf-->
	<param name="robot_description" command="$(arg model)" />

    <!--robot specific parameters -->
	<rosparam file="$(find mrvk_driver)/config/mrvk_driver.yaml" command="$(find xacro)/xacro '$(arg model)' --inorder"/>

    <!-- run mrvk driver node-->
	<node  name="mrvk_driver" pkg="mrvk_driver" type="mrvk_driver" output="screen">
		<remap from="/diff_drive_controller/odom" to="odom"/>
		<remap from="/diff_drive_controller/cmd_vel" to="cmd_vel"/>
	</node>

    <!-- run robot state publisher node-->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

    <!-- start differencial controller-->
	<include file="$(find mrvk_driver)/launch/spawn_diff_controller.launch">
		<arg name="off_odom_tf" value="$(arg off_odom_tf)" />
	</include>

    <!-- run static transform publisher node unless off_map_tf-->
    <node pkg="tf" type="static_transform_publisher" name="map_to_odom_publisher" args="0 0 0 0 0 0 1 map odom 10" unless="$(arg off_map_tf)" />

    <!-- run joint state publisher node -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" if="$(arg use_joint_states_publisher)">
        <param name="/use_gui" value="false"/>
        <!--rosparam param="/source_list">[/kv01/joint_states] </rosparam-->
    </node>
</launch>
