<?xml version="1.0"?>
<launch>
	<arg name="off_odom_tf" default="false" />
	<rosparam file="$(find mrvk_driver)/config/mrvk_controllers.conf" command="load"/>
	<param name="diff_drive_controller/enable_odom_tf" value="true" unless="$(arg off_odom_tf)"/>
	<node  name="controller_manager" pkg="controller_manager" type="controller_manager" args="spawn mrvk_joint_state_controller diff_drive_controller mrvk_camera_group_controller">
	</node>
</launch>
