<?xml version='1.0'?>

<launch>
    <include file="$(find adis16488)/launch/load_urdf.launch"/>
    <include file="$(find adis16488)/launch/adis_driver.launch"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find adis16488)/rviz/config.rviz"/>
</launch>

<!-- launch virtual serial port socat -d -d pty,raw,echo=0 pty,raw,echo=0 -->