<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name = "Adis" params="parrent *origin">
        <joint name="adis16350_joint" type="fixed">
            <xacro:insert_block name="origin" />
            <parent link="${parrent}"/>
            <child link="adis16350"/>
        </joint>

        <link name = "adis16350"/>
      </xacro:macro>
</robot>