<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name = "Hokuyo" params="parent child *origin">
        <joint name="hokuyo_joint" type="fixed">
            <xacro:insert_block name="origin" />
            <parent link="${parent}"/>
            <child link="${child}"/>
        </joint>

        <link name = "${child}"/>
    </xacro:macro>
</robot>