<robot name="adis" xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:include filename="$(find mrvk_sensors)/urdf/hokuyo_macro.xacro"/> <!--Scanner values-->

    <link name = "map"/>
    <xacro:Hokuyo parent ="map" child="laser">
        <origin xyz="0 0 0" rpy="0 0 0" /> <!--PhoXi3Dscanner origin-->
    </xacro:Hokuyo>

</robot>