<?xml version="1.0"?>
<launch>
  <master auto="start"/>
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find mrvk_2dnav)/config/costmap_common.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find mrvk_2dnav)/config/costmap_common.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find mrvk_2dnav)/config/local_costmap.yaml" command="load" />
    <rosparam file="$(find mrvk_2dnav)/config/global_costmap.yaml" command="load" />
    <rosparam file="$(find mrvk_2dnav)/config/base_local_planner.yaml" command="load" />
    <remap from="odom" to="/mrvk/diff_drive_controller/odom"/>
    <remap from="cmd_vel" to="/mrvk/diff_drive_controller/cmd_vel"/>
  </node>
</launch>
