<?xml version="1.0"?>
<launch>
  <master auto="start"/>

   <arg name="osm_map_path"/>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/>
    <param name="controller_frequency" value="10"/>
    <param name="base_global_planner" value="osm_planner/Planner"/>
    <rosparam file="$(arg osm_map_path)" command="load" subst_value="true"/>
    <rosparam file="$(find mrvk_2dnav)/config/dwa_osm/osm_parser.yaml" command="load" ns="Planner"/>
    <rosparam file="$(find mrvk_2dnav)/config/dwa_osm/costmap_common.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find mrvk_2dnav)/config/dwa_osm/costmap_common.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find mrvk_2dnav)/config/dwa_osm/local_costmap.yaml" command="load" />
    <rosparam file="$(find mrvk_2dnav)/config/dwa_osm/global_costmap.yaml" command="load"/>
    <rosparam file="$(find mrvk_2dnav)/config/dwa_osm/costmap_observaion_sources.yaml" command="load" ns="local_costmap"/>
    <rosparam file="$(find mrvk_2dnav)/config/dwa_osm/base_local_planner.yaml" command="load" />
    <rosparam file="$(find mrvk_2dnav)/config/dwa_osm/osm_global_planner.yaml" command="load" />
    <rosparam file="$(find mrvk_2dnav)/config/dwa_osm/recovery_behaviors.yaml" command="load"/>

    <!--remap from="/odom" to="/robot_pose_ekf/odom_combined"/-->
  </node>

 <!--node name="osm_helper" pkg="osm_planner" type="osm_helper" ns="move_base"/-->

</launch>
