<?xml version="1.0"?>
<launch>
  <master auto="start"/>

   <arg name="osm_map_path"/>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/>
    <param name="controller_frequency" value="10"/>
    <param name="base_global_planner" value="osm_planner/Planner"/>
    <param name="Planner/osm_map_path" value="$(arg osm_map_path)"/>
    <rosparam file="$(find mrvk_2dnav)/config/dwa_osm/osm_parser.yaml" command="load"/>
    <rosparam file="$(find mrvk_2dnav)/config/dwa_osm/costmap_common.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find mrvk_2dnav)/config/dwa_osm/costmap_common.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find mrvk_2dnav)/config/dwa_osm/local_costmap.yaml" command="load" />
    <rosparam file="$(find mrvk_2dnav)/config/dwa_osm/global_costmap.yaml" command="load"/>
    <rosparam file="$(find mrvk_2dnav)/config/dwa_osm/costmap_observaion_sources.yaml" command="load"/>
    <rosparam file="$(find mrvk_2dnav)/config/dwa_osm/base_local_planner.yaml" command="load" />
    <rosparam file="$(find mrvk_2dnav)/config/dwa_osm/osm_global_planner.yaml" command="load" />
  </node>

 <node name="osm_helper" pkg="osm_planner" type="osm_helper" ns="move_base"/>

</launch>
