<?xml version="1.0"?>
<launch>
  <master auto="start"/>

   <arg name="filepath" default="$(find osm_planner)/osm_example/fei.osm"/>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/>
    <param name="controller_frequency" value="10"/>
    <param name="base_global_planner" value="osm_planner/Planner"/>
    <rosparam file="$(find mrvk_2dnav)/config/osm/costmap_common.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find mrvk_2dnav)/config/osm/costmap_common.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find mrvk_2dnav)/config/osm/local_costmap.yaml" command="load" />
    <rosparam file="$(find mrvk_2dnav)/config/osm/global_costmap.yaml" command="load"/>
    <param name="global_costmap/filepath" value="$(arg filepath)"/>
    <rosparam file="$(find mrvk_2dnav)/config/dwa/base_local_planner.yaml" command="load" />
    <!--remap from="odom" to="/mrvk/diff_drive_controller/odom"/-->
    <!--remap from="cmd_vel" to="/mrvk/diff_drive_controller/cmd_vel"/-->
  </node>

 <node name="osm_helper" pkg="osm_planner" type="osm_helper" ns="move_base"/>

</launch>
