<?xml version="1.0"?>
<launch>
  <node name="hokuyo_node" pkg="hokuyo_node" type="hokuyo_node" />

  <include file="$(find mrvk_driver)/launch/driver.launch" />

  <node pkg="transform_configuration_pkg" type="transform_configuration_type" name="transform_configuration_name" output="screen">
    <param name="transform_configuration_param" value="param_value" />
  </node>
</launch>
