<?xml version="1.0"?>
<launch>
    <arg name="osm_map_path"/>
    <node  name="GpsCompasCorrectionNode" pkg="gps_compas_correction" type="GpsCompasCorrectionNode">
        <rosparam file="$(find gps_compas_correction)/config/config.yaml" command="load"/>
        <rosparam file="$(find mrvk_2dnav)/config/dwa_osm/osm_parser.yaml" command="load"/>
        <param name="osm_map_path" value="$(arg osm_map_path)"/>
    </node>
</launch>