<launch>
    <arg name="filter_config_path" default="$(find mrvk_laser_filters)/config/laser_filters_config.yaml"/>

    <include file="$(find mrvk_sensors)/launch/hokuyo_node.launch"/>
    <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_filter" output="screen">
        <rosparam command="load" file="$(arg filter_config_path)" />
    </node>
</launch>
